{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- Left sidebar-->
    <!-- Sidebar will load here-->
    {% include 'dashboard/sidebar.html' %}
    {% load crispy_forms_tags %}

    <!-- Right side content -->
    <div class="col-md-9">
        <p><h2>Edit Category</h2></p>
        <form action="{% url 'edit_category' category.id %}" method="POST" style="width: 200px;">
            {% csrf_token %}
            {{ form | crispy}}
            <button type="submit" class="btn btn-warning" style="float: inline-end;">Edit</button>
        </form>
    </br>
    </div>
</br>
</div>
</br></br>
{% endblock %}